@import "tailwindcss";

/* You no longer need @plugin or @source for HeroUI */

@custom-variant dark (&:is(.dark *));

:root {
	--background: #2b2827;
	--foreground: #d7cec4;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-albert-sans);
	--font-mono: var(--font-geist-mono);
	--font-mainfont: var(--font-mainfont);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #2b2827;
		--foreground: #d7cec4;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: Arial, Helvetica, sans-serif;
}